@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "FK Grotesk Neue";
  src: url("../../public/fonts/FK Grotesk Neue/FKGroteskNeue-Thin.otf");
  font-weight: 100;
}

@font-face {
  font-family: "FK Grotesk Neue";
  src: url("../../public/fonts/FK Grotesk Neue/FKGroteskNeue-Light.otf");
  font-weight: 300;
}


@font-face {
  font-family: "FK Grotesk Neue";
  src: url("../../public/fonts/FK Grotesk Neue/FKGroteskNeue-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "FK Grotesk Neue";
  src: url("../../public/fonts/FK Grotesk Neue/FKGroteskNeue-Medium.otf");
  font-weight: 500;
}

@font-face {
  font-family: "FK Grotesk Neue";
  src: url("../../public/fonts/FK Grotesk Neue/FKGroteskNeue-Bold.otf");
  font-weight: 700;
}

@font-face {
  font-family: "FK Grotesk Neue";
  src: url("../../public/fonts/FK Grotesk Neue/FKGroteskNeue-Black.otf");
  font-weight: 900;
}


@font-face {
  font-family: "Inter";
  src: url("../../public/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: FK Grotesk Neue, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    @apply bg-white
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* example: override wallet button style */
.wallet-adapter-button:not([disabled]):hover {
  background-color: #E8E8E8;
}

.wallet-adapter-button {
  color: #0E1114
}


.wallet-adapter-modal-wrapper {
  background-color: white
}

.wallet-adapter-modal-title {
  color: #0E1114
}

.wallet-adapter-modal-button-close {
  color: #979797;
  background: inherit;
}
.wallet-adapter-modal-button-close:hover {
  color: #0E1114;
  background: inherit;
}

.wallet-adapter-modal-list-more {
  color: #979797
}

.wallet-adapter-modal-list-more > svg {
  fill: #979797
}



.card-header {
  @apply text-xl font-bold w-full;
}

.primary-btn {
  @apply w-full p-2 bg-cyan-600 hover:bg-cyan-700 transition-all font-semibold rounded-md flex items-center justify-center space-x-2 disabled:opacity-50 disabled:hover:bg-cyan-600
}

.critical-btn {
  @apply w-full p-2 bg-red-500 hover:bg-red-600 transition-all font-semibold rounded-md flex items-center justify-center space-x-2 disabled:opacity-50 disabled:hover:bg-red-500
}
